input {
  margin-left: 2rem;
}

form > label {
  width: 17rem;
  display: flex;
  justify-content: space-between;
}

.containerForm {
  width: 100%;
  height: 15rem;
}

form {
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002b36;
}

input {
  outline: none;
  padding-left: 0.5rem;
  border-radius: 0.4rem;
  border-style: none;
  box-shadow: inset 0px 0px 4px black;
  background-color: rgba(255, 255, 255, 0.963);
  color: black;
}

input::placeholder {
  color: rgba(127, 127, 127, 0.347);
}

.containerGender {
  width: 40%;
  display: grid;
  grid-template-rows: 0;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
  max-width: 18.5rem;
}

.containerStatus {
  width: 40%;
  display: grid;
  grid-template-rows: 0;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 18.5rem;
}

.checkMale {
  margin-left: 1rem;
}

.checkFemale {
  margin-left: 1rem;
}

.active {
  margin-left: 0.9rem;
}

.inactive {
  margin-left: 1rem;
}

@media only screen and (max-width: 676px) and (min-width: 300px) {
  .containerGender {
    width: 70%;
  }

  .containerStatus {
    width: 70%;
  }
}

@media only screen and (max-width: 414px) and (min-width: 250px) {
  .containerGender {
    width: 97%;
  }

  .containerStatus {
    width: 97%;
  }
}
