.table {
  margin-top: 1rem;
  margin: 0 2;
}

.twoButtons {
  display: flex;
  justify-content: space-between;
}

.buttonEdit::before {
  transition: 0.2 ease;
  position: absolute;
}

.buttonEdit::after {
  content: "Edit";
  opacity: 0;
  font-size: 0.1px;
  transition: 300ms;
  position: absolute;
  color: white;
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  right: 14.3vw;
  bottom: 41.8vh;
}

.buttonEdit:hover::after {
  opacity: 1;
  font-size: 16px;
  transform: translate(-50%-50%);
}

.buttonDelete::before {
  transition: 0.2 ease;
  position: absolute;
}

.buttonDelete::after {
  content: "Delete";
  opacity: 0;
  font-size: 0.1px;
  transition: 300ms;
  position: absolute;
  color: white;
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  right: 8vw;
  bottom: 41.8vh;
}

.buttonDelete:hover::after {
  opacity: 1;
  font-size: 16px;
  transform: translate(-50%-50%);
}

.buttonView::before {
  transition: 0.2 ease;
  position: absolute;
}

.buttonView::after {
  content: "View";
  opacity: 0;
  font-size: 0.1px;
  transition: 300ms;
  position: absolute;
  color: white;
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  right: 3vw;
  bottom: 41.8vh;
  position: absolute;
}

.buttonView:hover::after {
  opacity: 1;
  font-size: 16px;
  transform: translate(-50%-50%);
}

td {
  align-content: center;
}

.twoButtons > button {
  margin-left: 0.3rem;
}
